
.container{
	width: 1000px;
}

h2{

	font-size: 40px;
	letter-spacing: 1px;
	font-style: sans-serif;
	font-color: black;
	font-weight: bold;
	margin-bottom: 30px;

}

.btn-info {
	width: 300px;
	font-size: 20px;
	font-style: sans-serif;
	font-color: white;
	font-weight: bold;
    background: #2196f3;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;


}

.btn-info:hover{

    background: #7abcf1;
    cursor: pointer;
}


.btn-info:active{

    background: #0665b1;

}